.container-orderPage {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9EB8D9;
    height: 93vh;

    .container-orderPage__tableBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 600px;
        width: 1200px;
        border-radius: 20px;
        background: white;

        th {
            position: sticky;
            top: 0;
            background: #b8b6b6;
            height: 40px;
            z-index: 1;
        }

        .container-orderPage__tableBox__box {
            height: 400px;
            overflow: scroll;
            // background: red;
        }

        .container-orderPage-button-area {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 120px;
            width: 100%;

            .orderPage-keepShopping-button {
                background-color: #265073;

                &:hover {
                    background-color: #2c5e86;
                }
            }
        }
    }
}