.container-header {

    .container-header__navbar {
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
        background: #265073;
        height: 60px;


        .container-header_navbar_icons {
            display: flex;
            font-size: 30px;
            gap: 30px;
            color: white;

            .container-header_navbar__icons_left {
                cursor: pointer;
                color: white;
            }

            .container-header_navbaricons_right {
                cursor: pointer;
                color: white;
            }

            .container-header_navbar__icons_logout {
                cursor: pointer;
                color: white;
            }
        }



        .container-header_navbaricons_logout {
            cursor: pointer;
        }
    }
}

.opacityActive {
    opacity: 0.2;
    transition: opacity 1s ease;
}