.container-header__navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    background: #265073;
    height: 60px;


    .container-header__navbar__icons {
        display: flex;
        font-size: 30px;
        gap: 30px;
        color: white;

        .container-header__navbar__icons__left {
            cursor: pointer;
        }

        .container-header__navbar__icons__rigth {
            cursor: pointer;
        }

        .container-header__navbar__icons__logout {
            cursor: pointer;
        }
    }
}

.opacityActive {
    opacity: 0.2;
    transition: opacity 1s ease;
}