.products-popup-container__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    img {
        width: 200px;
        height: 280px;
        object-fit: contain;
    }
}