.container-adminPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #9EB8D9;
    padding: 40px;

    .container-adminPage__tableBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #FFFFFF;
        height: 600px;


        .container-adminPage__tableBox__box {
            height: 600px;
            width: 100%;

            .td,
            th,
            tr {
                border: 1px solid black;
                width: 200px;
            }

            tr {
                td {
                    height: 50px !important;
                }
            }

            th {
                background: #B9B9B9;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
        }
    }
}